/* Dark Theme Stylesheet */

/* Overall Background */
.root {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
}


.label {
    -fx-text-fill: white;
}

/* Calendar Header */
#year, #month {
    -fx-fill: white;
}

/* Buttons */
.button {
    -fx-background-color: #4a5759;
    -fx-text-fill: white;
}

/* Add Event Button */
#addEventButton {
    -fx-background-color: #4a5759;
    -fx-text-fill: white;
}

/* Settings Button */
#settingsButton {
    -fx-background-color: #4a5759;
    -fx-text-fill: white;
}
